{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-6">
                    <img class="card-img-top" src="{{asset('img/profil.jpg')}}" alt="Card image cap">
                </div>

                <div id="descAbout" class="col-6">
                    <div class="about">
                        <h4>Bonjour</h4>
                        <div class="sepLittle"></div>
                        <p>Lorem ipsum dolor sit amet. Ea unde eaque et rerum incidunt ad voluptas corporis et corrupti voluptatum ab harum harum est consequatur odit a eius aspernatur! Sit quaerat nesciunt a possimus corporis aut accusantium excepturi et placeat repellat. Est repudiandae nulla in repellat tempora nam quos dolores qui suscipit voluptates? Sed tenetur repellendus quo reprehenderit voluptatum id minima voluptatum sit soluta facilis. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}