:root {
    --background-color-header:#F8F9F7;
    --font-family-title: 'Roboto', sans-serif;
    --color-header:#8B8585;
    --color-focus:#84947B;
    --border-dropdown: 1px solid #84947B;
    --color-hover:#D3E0D3;
}

.container-fluid{
    background-color: var(--background-color-header);
 
}

.visible {
    display:none;
}

.navbar-nav {
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.nav-item {
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-weight: 100;
    color: var(--color-header);
    
}
.nav-item:hover {
    color:var(--color-hover);
}
.nav-item:focus {
    color: var(--color-focus);
}

.title {
    text-align: center;
    font-family: var(--font-family-title);
    color:var(--color-focus);
    text-transform: uppercase;
    
}

.logo {
    width:230px;
    height: 130px;
    margin:25px;
}

h1 {
    font-weight: 100;
    letter-spacing: 0.5rem;
    margin: 20px 0px;
    font-size: 34px;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 992px) {
    
	.navbar .nav-item .dropdown-menu{ 
        display: none;
        background-color: var(--background-color-header);
        margin-top: 0px;
    }
	.navbar .nav-item:hover .nav-link{ 

      }
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block; 
        margin-top:3px;
        border: var(--border-dropdown);
        right:0;  
    }
    .dropdown-img {
        margin: 0px 5px;
    }
    .dropdown-item {
        font-family: var(--font-family-title);
        color:var(--color-header);
    }
    .dropdown-item:hover {
        background-color: var(--color-focus);
        color:var(--color-hover);
    }
}	

/*Responsive*/
@media all and (max-width: 991px) {
    .visible {
        display:block;
        background-color: var(--background-color-header);
    }

    .visible a {
        font-family: var(--font-family-title);
        letter-spacing: 3px;
        
    }
    .navbar-brand {
        color: #84947B;
        font-weight: 300;
    }

    .header-btn {
        float:right;
    }

    /* .navbar-brand {
        display:block;
        font-family: var(--font-family-title);
        color:var(--color-focus);
        font-weight: 300;
    }

    .visible {
        display:contents;
    }
    .navbar-toggler {
        display:block;
    } */
} 