{% extends 'base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block body %}

    <div class="containerGrid">
        <h2>Mes articles</h2>

        <div class="action-btn">
            <button class="Admin-btn" type="submit">Ajouter un article</button>
            <button class="Admin-btn" type="submit">Contact</button>  
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {# {% for  %} #}
                    <tr>
                        <td class="rowTable">1</td>
                        <td class="rowTable">titre de l'article</td>
                        <td class="rowTable">Plat</td>
                        <td><button class="Modif-btn" type="submit">Modifier</button></td>
                        <td><button class="Delete-btn" type="submit">Supprimer</button> </td>
                    </tr>
                {# {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %} #}
            </tbody>
        </table>
        
    </div>
    

    
{% endblock %}