<footer>
    <div class="footer-container">
        <div id="footer-wrapper" class="wrapper">
            <div class="row">
                <div class="col-6">
                    <p class="footer">© 2022 par PALAIS DES PLAISIRS<p>
                </div>

                <div id="Social" class="col-6">
                    <ul class="Social">
                        <li><a href="#"><img class="SocialPicture" src="{{asset('img/instagram.png')}}" alt="instagram"></a></li>
                        <li><a href="#"><img class="SocialPicture" src="{{asset('img/facebook.png')}}" alt="facebook"></a></li>
                        <li><a href="#"><img class="SocialPicture" src="{{asset('img/pinterest.png')}}" alt="pinterest"></a></li>
                        <li><a href="#"><img class="SocialPicture" src="{{asset('img/youtube.png')}}" alt="youtube"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</footer