{{ form_start(form, { 'attr' : { 'class': 'contact' } }) }}
    {{ form_widget(form) }}
    <div class="container-btn">
        <button class="contact-btn">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}
