{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container">
        <h2>Administration</h2>

        <div class="action-btn">
            <button class="Admin-btn" type="submit">Ajouter un article</button>
            <button class="Admin-btn" type="submit">Contact</button>  
        </div>

        <div class="wrapper">
            <div class="row border rowTitle">
                <div class="col-1 border-right colTitleAdmin">
                    <p class="GridTitle">Id</p>
                </div>
                <div class="col-5 border-right colTitleAdmin">
                    <p class="GridTitle">Titre</p>
                </div>
                <div class="col-2 border-right colTitleAdmin">
                    <p class="GridTitle">Catégorie</p>
                </div>
                <div class="col-4 colTitleAdmin">
                    <p class="GridTitle">Actions</p>
                </div>
            </div>

            <div class="row border rowAdmin">
                <div class="col-1 border-right colAdmin">
                    <p class="GridLine">1</p>
                </div>
                <div class="col-5 border-right colAdmin">
                    <p class="GridLine">Lorem Ipsum</p>
                </div>
                <div class="col-2 border-right colAdmin">
                    <p class="GridLine">plat</p>
                </div>
                <div class="col-4 colAdmin">
                    <div class="action-btn">
                        <button class="Modif-btn" type="submit">Modifier</button>
                        <button class="Delete-btn" type="submit">Supprimer</button>  
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    

    
{% endblock %}