{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <div class="container">
        <h2>Utilisateurs</h2>


        <div class="wrapper">
            <div class="row border rowTitle">
                <div class="col-1 border-right colTitleAdmin">
                    <p class="GridTitle">Id</p>
                </div>
                <div class="col-2 border-right colTitleAdmin">
                    <p class="GridTitle">Pseudo</p>
                </div>
                <div class="col-3 border-right colTitleAdmin">
                    <p class="GridTitle">Email</p>
                </div>
                <div class="col-2 border-right colTitleAdmin">
                    <p class="GridTitle">Rôle</p>
                </div>
                <div class="col-4 colTitleAdmin">
                    <p class="GridTitle">Actions</p>
                </div>
            </div>

            <div class="row border rowAdmin">
                <div class="col-1 border-right colAdmin">
                    <p class="GridLine">1</p>
                </div>
                <div class="col-2 border-right colAdmin">
                    <p class="GridLine">TheSleepyOtter</p>
                </div>
                <div class="col-3 border-right colAdmin">
                    <p class="GridLine">zeucaf_@gmail.com</p>
                </div>
                <div class="col-2 border-right colAdmin">
                    <select name="role" class="role-select GridLine">
                        <option value="admin">admin</option>
                        <option value="user">utilisateur</option>
                        <option value="autor">auteur</option>
                    </select>
                </div>
                <div class="col-4 colAdmin">
                    <div class="action-btn">
                        <button class="Modif-btn" type="submit">Modifier</button>
                        <button class="Delete-btn" type="submit">Supprimer</button>  
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    

    
{% endblock %}