{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h2>Nouvel Article</h2>

    <div class="container">
    
        {{ include('article/_form.html.twig') }}
    </div>


{% endblock %}